* {
  border: 1px solid black;
}
.container {
  width: 472px;
  height: 709px;
  background-color: $calcRed;
  margin-left: 35%;
  border-radius: 10px;
  .logo-container {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .calcDisplay {
    background-color: $display;
    height: 60px;
    width: 85%;
    margin: auto;
    border-radius: 50px;
    color: white;
    text-align: end;
    padding: 10px 10px 0px 10px;
    font-size: 3.0rem;
  }
  button {
    width: 80px;
    height: 80px;
  }
  .specButtons {
    background-color: $specialButtons;
    color: white;
  }
  .operButtons {
    background-color: $operatorButtons;
    color: white;
  }
  .numButtons {
    background-color: $numberButtons;
    color: white;
  }
}